@model DataLayer.ViewModels.Vendorvm;
<div class="table-responsive  mt-3" >

    <table class="w-100 vendortable " id="">
        <thead>
            <tr class="text-secondary" style="height:60px; background-color:var(--bs-secondary-bg);">
                <th scope="col">Profession</th>
                <th scope="col">Business Name</th>
                <th scope="col">Email</th>
                <th scope="col">Fax Number</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Business Contact</th>
                <th scope="col">Actions</th>
           
          
            </tr>
        </thead>
        <tbody id="">
          @{
              foreach (var item in Model.healthprofessionalList)
                {
                    <tr class="fw-bolder">
                        <td>@item.Vendorname</td>
                        <td>@item.ProfessionNavigation.Professionname</td>
                        <td>@item.Email</td>
                        <td>@item.Faxnumber</td>

                        <td>@item.Phonenumber</td>
                        <td>@item.Businesscontact</td>
                        <td>
                            <div class="d-flex gap-1 m-2">
                                <a asp-action="UpdateBusiness" asp-route-vendorid="@item.Vendorid" class="btn btn-outline-info float-end me-3 ">Edit</a>
                                 <a class="btn btn-outline-info float-end me-3 " asp-action="deleteBusiness" asp-route-vendorid="@item.Vendorid">Delete</a>
                            </div>

                        </td>
                    </tr>
                }
          }

        </tbody>
    </table>



</div>
