@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model DataLayer.ViewModels.EncounterViewModel;
<div class="container-fluid">
    <Partial name="_ProviderHeader" />
    <Partial name="_Notification" />
    <div class="row ">

        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-md-12 col-12  ">

            <div class="justify-content-between d-flex  mt-5 mb-3 ">
                <h4 class="fw-bolder">Encounter Form</h4>

                <a asp-action="ProviderDashBoard" asp-route-reqid=@Model.reqid asp-controller="Provider" style="text-decoration: none;">
                    <button type="button" class=" btn btn-outline-info ">
                        <i class="bi bi-chevron-left"></i>Back
                    </button>
                </a>
            </div>


            <div class=" d-flex flex-column shadow">
                <div class="d-flex justify-content-center mt-3 head">
                    <h2 class="fw-bold text-info">Medical Report-Confidential</h2>
                </div>

                <form asp-action="PostEncounterData" asp-controller="Provider" asp-route-reqid=@Model.reqid method="post" class="p-4" enctype="multipart/form-data">

                    <div class="row ">
                        <input type="hidden" value="RequestId" name="RequestId" />

                        <div class="col-sm-6 mb-3">

                            <div class="form-floating ">
                                <input id="firstname" asp-for="firstName" value="@Model.firstName" type="text" class="form-control" >
                                <label for="firstname"> First Name</label>
                                <span asp-validation-for="firstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">

                            <div class="form-floating ">
                                <input id="lastname" asp-for="lastName" value="@Model.lastName" type="text" class="form-control">
                                <label for="lastname"> Last Name</label>
                                <span asp-validation-for="lastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class=" mb-3">
                            <div class="form-floating">
                                <input id="location" asp-for="Location" value="@Model.Location" type="text" class="form-control" >
                                <label for="location"> Location</label>
                                <span asp-validation-for="Location" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-floating ">
                                <input asp-for="birthDate" value="@Model.birthDate" id="dob" class="form-control" >
                                <label for="dob"> Date of Birth</label>
                                <span asp-validation-for="birthDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-floating ">
                                <input type="date" asp-for="Date" id="date" class="form-control">
                                <label for="date"> Date</label>
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-floating ">
                                <input type="tel" asp-for="phoneNumber" class="form-control " id="phone" placeholder="" />
                                <label for="phoneNumber"> PhoneNumber</label>
                                <span asp-validation-for="phoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-floating ">
                                <input type="email" asp-for="Email" class="form-control" id="Emailforlogin" onBlur="checkemailexists()" placeholder="">
                                <label for="Emailforlogin"> E-mail </label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 ">
                            <div class="form-floating ">
                                <input type="text" asp-for="historyOfInjury" class="form-control mb-3" placeholder="">
                                <label for=""> History Of Preset Illness Or Injury</label>
                                <span asp-validation-for="historyOfInjury" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-sm-6 ">
                            <div class="form-floating ">
                                <input id="history" asp-for="medicalHistory" type="text" class="form-control mb-3" placeholder="">
                                <label for="history"> Medical History</label>
                                <span asp-validation-for="medicalHistory" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-sm-6 ">
                            <div class="form-floating">
                                <input id="medications" asp-for="medications" type="text" class="form-control mb-3" placeholder="">
                                <label for="medications"> Medications</label>
                                <span asp-validation-for="medications" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-sm-6 ">
                            <div class="form-floating">
                                <input id="allergies" asp-for="allergies" type="text" class="form-control mb-3" placeholder="">
                                <label for="allergies"> Allergies</label>
                                <span asp-validation-for="allergies" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-sm-4 mb-3">
                            <div class="form-floating ">
                                <input id="temp" asp-for="temp" type="text" class="form-control" placeholder="">
                                <label for="temp"> Temp </label>
                                <span asp-validation-for="temp" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-sm-4 mb-3">
                            <div class="form-floating ">
                                <input id="hr" type="text" asp-for="hr" class="form-control" placeholder="">
                                <label for="hr"> HR </label>
                                <span asp-validation-for="hr" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-sm-4 mb-3">
                            <div class="form-floating ">
                                <input id="rr" asp-for="rr" type="text" class="form-control" placeholder="">
                                <label for="rr"> RR </label>
                                <span asp-validation-for="rr" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-sm-2 mb-3">
                            <div class="form-floating ">
                                <input id="blood" asp-for="bps" type="text" class="form-control" placeholder="">
                                <label for="blood"> Blood Pressure(S) </label>
                                <span asp-validation-for="bps" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-sm-2 mb-3">
                            <div class="form-floating ">
                                <input id="blood1" type="text" asp-for="bpd" class="form-control" placeholder="">
                                <label for="blood1"> Blood Pressure(D) </label>
                                <span asp-validation-for="bpd" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-4 mb-3">
                            <div class="form-floating ">
                                <input id="o2" type="text" asp-for="o2" class="form-control" placeholder="">
                                <label for="o2"> O2 </label>
                                <span asp-validation-for="o2" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-4 mb-3">
                            <div class="form-floating ">
                                <input id="pain" type="text" asp-for="pain" class="form-control" placeholder="">
                                <label for="pain"> Pain </label>
                                <span asp-validation-for="pain" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">

                            <div class="form-floating ">
                                <input id="Heent" type="text" asp-for="heent" class="form-control" placeholder="">
                                <label for="Heent"> Heent</label>
                                <span asp-validation-for="heent" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-floating ">
                                <input asp-for="cv" id="cv" type="text" class="form-control" placeholder="">
                                <label for="cv">CV</label>
                                <span asp-validation-for="cv" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">

                            <div class="form-floating ">
                                <input asp-for="chest" id="chest" type="text" class="form-control" placeholder="">
                                <label for="chest"> Chest</label>
                                <span asp-validation-for="chest" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">

                            <div class="form-floating ">
                                <input id="abd" type="text" class="form-control" placeholder="">
                                <label for="abd"> ABD</label>
                                <span asp-validation-for="abd" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-floating ">
                                <input asp-for="extr" id="extr" type="text" class="form-control" placeholder="">
                                <label for="extr"> Extr</label>
                                <span asp-validation-for="extr" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-floating ">
                                <input asp-for="skin" id="skin" type="text" class="form-control" placeholder="">
                                <label for="skin"> Skin</label>
                                <span asp-validation-for="skin" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-floating ">
                                <input asp-for="neuro" id="neuro" type="text" class="form-control" placeholder="">
                                <label for="neuro"> Neuro</label>
                                <span asp-validation-for="neuro" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-floating ">
                                <input id="other" asp-for="other" type="text" class="form-control" placeholder="">
                                <label for="other"> Other</label>

                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-floating ">
                                <input id="diagnosis" asp-for="diagnosis" type="text" class="form-control" placeholder="">
                                <label for="diagnosis"> Diagnosis</label>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-floating ">
                                <input id="plan" asp-for="plan" type="text" class="form-control" placeholder="">
                                <label for="plan"> Treatment Plan</label>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-floating ">
                                <input id="dispensed" asp-for="medicalDispensed" type="text" class="form-control" placeholder="">
                                <label for="dispensed"> Medications Dispensed</label>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-floating ">
                                <input id="procedures" asp-for="procedure" type="text" class="form-control" placeholder="">
                                <label for="procedures"> Procedures</label>
                            </div>
                        </div>

                        <div class=" mb-3">
                            <div class="form-floating">
                                <input id="followup" asp-for="followUp" type="textarea" class="form-control" placeholder="">
                                <label for="followup"> Followup </label>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex flex-row-reverse my-2  mx-2">
                        <button type="reset" class="btn btn-outline-primary me-2">Cancel</button>

                        <a asp-action="FinalizeEncounterForm" asp-route-reqId="@Model.reqid" class="btn mx-2" style="background-color:#9a3599;">
                            <text style="color: white;">Finallize</text>
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <text style="color: white;">Save Changes</text>
                        </button>
                    </div>
                </form>
            </div>

        </div>


    </div>
</div>

<script>

    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    @section Scripts{
        @{
                <Partial name="_ValidationScriptsPartial" />
        }
            }

</script>
